body {
	margin: 0;
	padding: 0;
	background: url("/images/fundo.jpg") no-repeat center center;
	background-size: cover;
}

.fundo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.fundo .validate {
	float: right;
}

.fundo form {
	width: 33%;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
	.fundo form {
		width: 50%;
	}
}

@media (max-width: 600px) {
	.fundo form {
		width: 66%;
	}
}

@media (max-width: 300px) {
	.fundo form {
		width: 95%;
	}
}
