.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.home:first-child {
	position: absolute;
	width: 500px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.home .btnGiveup,
.home .btnSkip,
.home .btnFifty {
	margin: 5px;
}

.home h2 {
	color: #222;
}

.home ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

.home ul button div {
	border-radius: 50%;
	width: 23px;
	height: 23px;
	text-align: center;
	background-color: white;
	font-weight: bold;
	color: #222;
	float: left;
	margin-right: 5px;
}

.home ul button {
	text-align: justify;
}

.home ul button {
	margin: 3px;
}

.noticeReward {
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
	font-style: italic;
}

.btnAnswer {
	width: 100%;
}

@media (max-width: 500px) {
	.home:first-child {
		width: 100%;
	}
}
