.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.box h1 {
	text-align: center;
}

.box {
	width: 90vw;
	height: 90vh;
	overflow-y: hidden;
	overflow: auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.fimTable {
	clear: both;
	margin-bottom: 10px;
}

.boxGameBlack {
	background-color: #222;
	border: 5px solid #555;
}

.boxGameGreen {
	background-color: #527a00;
	border: 5px solid #6b9713;
}

.boxGameRed {
	background-color: #ff0033;
	border: 5px solid #ff4a6f;
}

.boxGame {
	float: left;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.boxGame .name {
	font-weight: bold;
	font-size: 20px;
}

.boxGame .value {
	margin-top: 25px;
	font-size: 15px;
}

.boxGame .date {
	margin-top: 5px;
	font-size: 10px;
}
